@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto-VariableFont_wdth\,wght.ttf");
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;

  font-family: "Roboto";
}

h5 {
  padding: 0;
}

button {
  text-decoration: none;
  border: none;
}

button:hover {
  cursor: pointer;
}

button:disabled {
  pointer-events: none;
}

body {
  background-color: #05171e;
  color: #c0cace;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
  margin: 0 auto;

  background-color: #082029;
}

.header_content {
  margin: 0 auto;
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  padding: 32px 16px;
}

input {
  border-radius: 8px;
  border: none;
  font-size: 18px;
  padding: 4px;
  background-color: #c0cace;

  width: 180px;
}

main {
  flex: 1;

  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  max-width: 1920px;
  width: 100%;
  padding: 32px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  gap: 24px;
}

.card {
  display: flex;
  flex-direction: column;

  border: none;
  border-radius: 32px;
  background-color: #082029;
}

.pokemon_overview_card {
  border: 2px solid transparent;
}

.pokemon_overview_card:hover {
  border: 2px solid gold;
  cursor: pointer;
}

.overview_card_body {
  width: 250px;
  height: 250px;

  display: flex;
  align-items: center;
}

.pokemon_img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.overview_pokemon_card .type_image {
  width: 30px;
  height: 30px;
  object-fit: cover;
  object-position: left;
  border-radius: 16px;
}

.type_image {
  height: 25px;
  object-fit: contain;
}

.card_header,
.card_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 16px;
  width: 100%;
  height: 50px;
  color: #c0cace;
}

.card_footer {
  justify-content: center;
}

dialog {
  margin: auto;

  border-radius: 32px;
  border: none;

  background-color: transparent;
  color: white;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.9);
}

.card_body {
  display: flex;
  justify-content: space-evenly;
  text-align: end;
  width: 100%;
}

.close_dialog {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
}

.close_dialog:hover {
  background-color: red;
  color: white;
}

.dialog_image {
  width: 70%;
  height: 400px;
  object-fit: contain;
}

.no_scroll {
  overflow: hidden;
}

.pokemon_detail_card {
  display: flex;
  flex-direction: column;
  width: 450px;
}

.pokemon_stats_text {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 0 0 16px 16px;

  height: 80px;
  padding: 8px;
  width: 100%;
}

.pokemon_stats {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.attack_stats {
  padding: 24px;
  display: flex;
  flex-direction: column;
}

.stats_width {
  height: 15px;
}

.play_sound {
  width: 60px;
  height: 25px;
  border-radius: 15px;
  border: none;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
}

.play_sound:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.stats_extra {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  width: 120px;
}

.single_pokemon_types {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.single_directions {
  background-color: #082029;
  border-radius: 32px;
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.single_directions button {
  width: 60px;
  height: 30px;
  border-radius: 16px;
  background-color: gold;
}

.single_directions button:hover {
  background-color: yellowgreen;
  border: 1px solid blue;
  cursor: pointer;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 72px;
  margin-top: auto;
  background-color: #082029;
}

.direction_buttons {
  padding-bottom: 32px;
  display: flex;
  align-items: center;
  gap: 32px;
}

.direction_buttons button {
  background-color: gold;
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 8px;
  font-size: 24px;
}

.direction_buttons button:hover {
  background-color: yellowgreen;
  border: 1px solid blue;
  cursor: pointer;
}

@media (max-width: 500px) {
  .pokemon_detail_card {
    width: 400px;
  }
}

@media (max-width: 450px) {
  .header_content {
    padding: 16px 8px;
  }
  input {
    width: 120px;
  }

  .pokemon_detail_card {
    width: 300px;
  }

  .dialog_image {
    width: 150px;
    height: 200px;
  }

  .pokemon_stats {
    justify-content: space-evenly;
  }

  .direction_buttons button {
    width: 50px;
    font-size: 16px;
  }
}

@media (max-width: 350px) {
  .pokemon_detail_card {
    width: 250px;
    height: 600px;
  }

  .pokemon_stats {
    width: 100px;
  }
}
